.jQMQWL{
    height: 350px!important;
    width: 500px!important;
    background-color: #e1fbfd!important;
    border-radius: 15px!important;
    box-shadow: rgba(50, 50, 93, 0.178) 0px 4px 10px -2px, rgba(0, 0, 0, 0.3) 0px 3px 4px -3px!important;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px!important; */
    font-family: Arial, Helvetica, sans-serif!important;
    margin: auto!important;
    text-align: center!important;
    padding: 0 1rem 0rem 1rem!important;
     position: inherit!important; 
    /* position: absolute!important; */
}
.jQMQWL:hover{
    background-color: #c9f0f3!important;
}
.iwLMgv{
    position: relative!important; 
    /* position: absolute!important; */
    top: 3rem!important; 
     width: 450px!important; 
    border-radius: 15px!important;
}
.imHSqf{
    padding: 0 5em!important;
}
.fdOejx{
    margin: 7px 0 7px 0!important;
}
.dPIgNO{
    font-family: sans-serif!important;
}
.dckwQp,.jsItLH{
    background: none!important;
}
.svg-inline--fa{
    font-size: 14px!important;
    color: blue!important;
}
.kwUQhE{
    color: blue!important;
}
.dNTAzu{
    margin: 10px 0 0 0!important;
}
.epVGrB{
    opacity: 1!important;
   
}
.fiwjyf{
    font-size: 14px!important;
    line-height: 10px!important;
    
}

.iwLMgv{
    font-size: 15px!important;
}
.gWfzAA{
    padding: 15px 0 15px 0!important;
}
.gWfzAA p{
    margin-bottom: 0.5rem!important;
}
.fukbtW{
    height: 236px!important;
    grid-gap: 8px!important;
}