 .jQMQWL{
    height: 350px!important;
    width: 480px!important;
    background: #edf6f979!important;
    border-radius: 15px!important;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px!important; */
    
    font-family: Arial, Helvetica, sans-serif!important;
    margin: auto!important;
    text-align: center!important;
    padding: 0 1rem 0rem 1rem!important;
   
     border: 1px solid #adb5bd46!important;
    
} 

.jQMQWL:hover{
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px!important;
}

.iwLMgv{
    /* position: relative!important;  */
    position: absolute!important; 
    /* top: 3rem!important; 
     width: 450px!important;  */
    border-radius: 15px!important;
}
.imHSqf{
    padding: 0 5em!important;
}
.fdOejx{
    margin: 7px 0 7px 0!important;
}
.dPIgNO{
    font-family: sans-serif!important;
}
.dckwQp,.jsItLH{
    background: none!important;
}

.svg-inline--fa{
    font-size: 14px!important;
    color: blue!important;
}
.kwUQhE{
    color: blue!important;
}
.dNTAzu{
    margin: 10px 0 0 0!important;
}
.epVGrB{
    opacity: 1!important;
   
}
.fiwjyf{
    font-size: 14px!important;
    line-height: 10px!important;
    
}

.iwLMgv{
    font-size: 15px!important;
}
.gWfzAA{
    padding: 15px 0 8px 0!important;
}
.gWfzAA p{
    margin-bottom: 0.5rem!important;
}
.fukbtW{
    height: 185px!important;
    grid-gap: 8px!important;
    border-top: 1px solid #6c757d59!important;
    padding-top: 20px!important;
}
 .fukbtW::-webkit-scrollbar{
    width: 8px;
}
.fukbtW::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.24);
}

.fukbtW::-webkit-scrollbar-thumb {
    background-color: #00bbf975;
    border-radius: 10px; 
} 
.gWfzAA p{
    margin-top: 10px!important;
    font-family: sans-serif!important;
    margin-bottom: 12px!important;
    color: blue!important;
}
/* .gWfzAA p:nth-last-of-type(1){
   
    top: 0!important;
}
.gWfzAA p:nth-child(1){
    color: blue!important; 
    font-size: 16px!important;
    position: absolute!important;
    top: 2rem!important;
    left: 10rem!important;
}
.gWfzAA p:nth-child(2n){
   
     color: blue!important; 
}  */
.hvtuvo{
    border-radius: 8px!important;
    border: 1px solid #118ab283!important;
    background: rgba(128, 128, 128, 0.116)!important;
}
.hvtuvo:nth-child(-n+10){
  
    display: none!important;
}
.hvtuvo:nth-child(even){
    pointer-events: none!important;
    opacity: 0.3;
}
.hvtuvo:hover{
    background-color: #118ab29d!important;
    color: white!important;
}
.epdPoJ{
    text-decoration: none!important;
    /* background: #00bbf9!important; */
    padding: 8px 12px!important;
    border-radius: 5px!important;
    color: black!important;
    
}

.hqlASh{
    margin-top: 3rem!important;
    padding: 15px 20px!important;
    font-family: sans-serif!important;
    background: #0dcaf0!important;
    border-radius: 10px!important;
    font-weight: 550!important;
    font-size: 16px!important;
}