*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* background: #edede9b9; */
    
}
.detail-main
{
     /* border: 1px solid;   */
     /* background-color: #f8f8fad8; */
     /* background: #effcfd57; */
    padding-top: 3.5rem;
   
}
.detail-left
{
    padding-left: 2rem;
    /* border: 1px solid;   */
}
.detail-left h3{
    text-align: left;
   margin-bottom: 1.2rem;
   font-weight: 400;
   margin-left: 1.5rem;
   color: #3772ff;
}
.timezonediv{
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
}
.css-yk16xz-control{
    border-color: #e9ecef!important;
    background: #e9ecefa2!important; 
    border-radius: 18px!important;
   
}

.css-yk16xz-control:hover
{
    background: #e9ecefcc!important; 
}
#custom_timezone{
    font-size: 14px!important;
    z-index: 5!important;
}
.css-1uccc91-singleValue {
    font-size: 14.2px!important;
}
.detail-right
{
    /* border: 1px solid;   */
    padding-top: 0.5rem;
    padding-left: 3rem;
}
.client-detail
{
    border: 1px solid rgba(0, 0, 0, 0.075); 
    /* padding: 20px; */
    border-radius: 10px;
    width: 90%;
    padding-bottom: 2rem;
     box-shadow: rgba(50, 50, 93, 0.178) 0px 4px 10px -2px, rgba(0, 0, 0, 0.3) 0px 3px 4px -3px;  
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    /* background-color: #f8f8fa; */
    background: white;
}
.client-detail:hover{
    background: #edf6f979;
  
}  

.heading{
    background-color: rgba(183, 174, 174, 0.205);
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    padding: 3rem 0;
}
.heading p{
    padding-top: 1rem; 
    
    width: 90%;
    margin: auto;
    font-family: sans-serif;
    font-size: 14px;
}
.heading h4{
    /* padding-bottom: 1.5rem; */
    width: 85%;
    margin: auto;
    color: blue;
    font-family: sans-serif;
}
.detail-body{
    text-align: left;
}
.phone{
    margin-left: 3rem;
    margin-top: 1rem;
    padding: 1.5rem 0;
    
}
.phn-icon{
    color: rgba(102, 224, 145, 1);
}
.phone p{
    font-family: sans-serif;
    font-size: 13.5px;
}
.firstp,.secondp{
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
    padding-bottom: 1.8rem;
    font-size: 15px;
    font-family: sans-serif;
}

