.custom-modal-content {
  /* Your custom styles for the AddAppointment component inside the Modal */
  background-color: #f5f5fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  /* Add other custom styles here */
}
.customModal {
  background-color: #f5f5fa;
}
.appointment-main{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background: #f3f7f9b0;
  
}
.appointment-main h1{
  padding-bottom: 0.75rem;
}
.add-appoint-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #614BC3;
}
.add-appoint-form-close-icon{
  margin-top: 0.8rem!important;
}


 @media screen and (max-width: 1075px){
  .appointment-main{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (max-width: 930px){
  .appointment-main{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (max-width: 767px){
 .active-btn-div{
  width: 15%;
 }
}
@media screen and (max-width: 660px){
  .active-btn-div{
   width: 17%;
  }
 }
 @media screen and (max-width: 560px){
  .active-btn-div{
   width: 19%;
  }
 }
 @media screen and (max-width: 505px){
  .active-btn-div{
   width: 21%;
  }
 }
 @media screen and (max-width: 460px){
  .appointment-main{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .active-btn-div button{
    padding:  0.5rem 0;
  }
  .active-btn-div{
    width: 22%;
   }
 }
 