*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.main-back
{
    /* border: 2px solid red; */
}
.backbtn
{
    padding: 8px 12px;
    margin: 3rem 0 0 5rem;
    border: 1px solid rgba(16, 154, 233, 0.404);
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.15);
    /* color: rgb(16, 154, 233);
    font-size: 25px; */
    margin-bottom: 1rem;
}
.backbtn:hover {
    background-color: rgba(217, 217, 217, 0.445);

}
.backbtn svg{
    font-size: 25px;
    color: rgb(16, 154, 233);
    margin: 3px 0;
}