.customButton {
  top: 12px;
  right: 14px;
  visibility: hidden;
}
.customModal {
  background-color: aliceblue;
}
.customModal3 {
  width: auto;
  /* min-width: 35%; */
  height: auto;
}

.today-table-div{
  width: 100%;
}
/* th{
  border: 1px solid;
}
td{
  border: 1px solid;
} */
