*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-row{
    /* border: 1px solid red;  */
    justify-content: center;
    width: 60%;
    margin: 2.5rem auto 1rem auto;
}
.header-col{
    /* border: 1px solid; */
    /* background: rgba(152, 238, 204, 0.3); */
    background: #caf0f8ab;
    padding: 1.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 8px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.header-col h3{
    font-size: 23px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.459);
}
.header-col p{
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.459);
}
