/* .customButton {
    top: 5px;
    right: 8px;
    padding: 3px;
    font-size:12px;
   
   
  } */
  .customModal {
    background:none;
    padding:0;
  }


  @media only screen and (max-width: 768px){
    .bhour-main{
      padding-bottom: 2rem;
    }
  }