/* .customButton {
    top: 10px;
    right: 8px;
    padding: 20px;
  } */
  .customModal {
    background:none;
    padding:0;
  }
  .allservice-div{
    /* border: 1px solid; */
    padding: 0;
  }
  .servicescroll::-webkit-scrollbar{
    width: 7px;
  }
  .servicescroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.24);
  }
  
  .servicescroll::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.24);
    border-radius: 15px; 
  } 
.addservice-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #614BC3;
}


@media only screen and (max-width: 1075px){
    .t-id{
      width: 100px;
    }
    .t-act{
      width: 160px;
    }
    .action-inner-div{
      width: 100px;
      justify-content: end;
    }
    .service-name{
      padding-left: 10px;
      padding-right: 10px
    }
    
}
@media only screen and (max-width: 1045px){
  .service-name{
    padding-left: 0;
    padding-right: 0;
  }
  .t-id {
    width: 87px;
  }
}
@media only screen and (max-width: 1006px){
  td{
    font-size: 14px;
  }
  .t-id {
    width: 80px;
}
  th{
    font-size: 14.5px;
  }
  .vis-toggle{
    width: 30px;
  }
}
@media only screen and (max-width: 872px){
  .t-ser{
    width: 360px;
  }
}
@media only screen and (max-width: 832px){
  .t-ser{
    width: 570px;
  }
  .t-id {
    width: 140px;
}
}
@media only screen and (max-width: 768px){
  .t-id {
    width: 100px;
  }
  .t-ser {
    width: 280px; 
}
td{
  font-size: 15px;
}
th{
  font-size: 15.5px;
}

}
@media only screen and (max-width: 735px){
  .t-id {
    width: 115px;
  }
  .t-ser {
    width: 380px; 
}

}
@media only screen and (max-width: 675px){
  .t-act {
    width: 140px;
}
.action-inner-div {
  width: 85px;
}
td{
  font-size: 14px;
}
th{
  font-size: 14.5px;
}
}
@media only screen and (max-width: 530px){
  th{
    font-size: 14px;
  }
  td{
    font-size: 13px;
  }
  .service-name{
    text-align: center;
  }
  .available-btn{
    height: 30px;
    width: 25px;
  }
  .vis-toggle{
    width: 25px;
  }
  .action-inner-div img{
    width: 1.05rem;
  }
  .action-inner-div {
    width: 70px;
}
}
@media only screen and (max-width: 515px){
  .buss-hrs h2{
    width: auto;
  }
  .inner-buss{
    gap: 1.5rem
  }
  .schedule-btn{
    margin-left: 0;
  }
}
@media only screen and (max-width: 465px){
  th{
    font-size: 13px;
  }
  td{
    font-size: 12px;
  }
  .t-ser {
    width: 550px;
  }
  .available-btn {
    height: 23px;
    width: 20px;
  }
  .action-inner-div {
    width: 55px;
    gap: 0.2rem;
  }
  .buss-hrs-title{
    font-size: 20px;
  }
  .inner-buss h3{
   font-size: 15px;
  }
  .inner-buss h2{
    font-size: 14px;
   }
}
@media only screen and (max-width: 400px){
  th{
    font-size: 12px;
  }
  td{
    font-size: 11px;
  }
  .action-inner-div img {
    width: 0.9rem;
  }
  .t-ava{
    width: 95px;
  }
  .t-act {
    width: 90px;
}
}